@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.prose code {
  background-color: #818b981f;
  color: #111827; /* gray-900 */
  font-weight: normal;
  padding: 0.2em 0.4em;
  border-radius: 0.25rem;
}

.prose pre code {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  font-weight: inherit;
}
